<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Query Name</th>
        <th>Type</th>
        <th>Date/Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Query 1</td>
        <td>Data</td>
        <td>2017-06-04 10:12:13</td>
        <td>2 Done/1 processing/1 pending</td>
      </tr>
      <tr>
        <td>Query 2</td>
        <td>Data</td>
        <td>2017-06-04 10:12:13</td>
        <td>2 Done/1 processing/1 pending</td>
      </tr>
      <tr>
        <td>Query 3</td>
        <td>Data</td>
        <td>2017-06-04 10:12:13</td>
        <td>2 Done/1 processing/1 pending</td>
      </tr>
      <tr>
        <td>Query 4</td>
        <td>Data</td>
        <td>2017-06-04 10:12:13</td>
        <td>2 Done/1 processing/1 pending</td>
      </tr>
    </tbody>
  </table>
</div>
