<div class="row">
    <div class="col-md-8">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">PITT</h3>
                <span class="label label-success">On</span>
                last test: 2017-06-26 09:10:43
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <button class="btn btn-primary">Manage Users</button>
                        <button class="btn btn-danger">Disconnect</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
