<div class="row">
    <div class="col-md-8">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">{{site.name}}</h3>
                <span class="label label-success">{{site.status}}</span>
                {{site.lastTest}}
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <button class="btn btn-primary" (click)="showManageUser=!showManageUser">Manage Users</button>
                        <button class="btn btn-danger">Disconnect</button>
                    </div>
                </div>
                <app-manage-users *ngIf="showManageUser"></app-manage-users>
            </div>
        </div>
    </div>
</div>
