<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Query Name</th>
        <th>Type</th>
        <th>Site</th>
        <th>Date/Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Query 1</td>
        <td>Data</td>
        <td>PITT</td>
        <td>2017-06-04 10:12:13</td>
        <td>pending</td>
        <td>
        	<button class="btn btn-success">Approve</button>
        	<button class="btn btn-danger">Deny</button>
        </td>
      </tr>
      <tr>
        <td>Query 2</td>
        <td>Data</td>
        <td>PSU</td>
        <td>2017-06-03 10:12:13</td>
        <td>pending</td>
        <td>
        	<button class="btn btn-success">Approve</button>
        	<button class="btn btn-danger">Deny</button>
        </td>
      </tr><tr>
        <td>Query 3</td>
        <td>Aggregate</td>
        <td>JHU</td>
        <td>2017-06-04 10:12:13</td>
        <td>processing</td>
        <td></td>
      </tr><tr>
        <td>Query 4</td>
        <td>Data</td>
        <td>PITT</td>
        <td>2017-06-04 10:12:13</td>
        <td>pending</td>
        <td>
        	<button class="btn btn-success">Approve</button>
        	<button class="btn btn-danger">Deny</button>
        </td>
      </tr><tr>
        <td>Query 5</td>
        <td>Data</td>
        <td>PITT</td>
        <td>2017-06-04 10:12:13</td>
        <td>done</td>
        <td></td>
      </tr><tr>
        <td>Query 6</td>
        <td>Data</td>
        <td>Utah</td>
        <td>2017-06-04 10:12:13</td>
        <td>done</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>