<div class="sidebar col-sm-3 col-md-2">
  <ul class="nav nav-sidebar">
    <li [class.active]="isActive('/queries-to-me')"><a [routerLink]="['/queries-to-me']">Queries to me</a></li>
    <li [class.active]="isActive('/queries-from-me')"><a [routerLink]="['/queries-from-me']">Queries from me</a></li>
    <li [class.active]="isActive('/sites')"><a [routerLink]="['/sites']">Sites configuration</a></li>
    <li [class.active]="isActive('/users')"><a [routerLink]="['/users']">User management</a></li>
  </ul>
</div>
