<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3>Desheng</h3>
                <span>sign up at: 2017-05-03 14:22:33</span>
            </div>
            <div class="box-body">
                <ul class="list-unstyled">
                    <li><input type="checkbox" /> Admin</li>
                    <li><input type="checkbox" /> Steward</li>
                    <li><input type="checkbox" /> Viewer</li>
                </ul>
            </div>
        </div>
    </div>
</div>
